/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
23-04-24.zip

# appszonebd-dev
hello-tech-latest.zip
*.zip
yarn.lock
package-lock.json
composer-lock.json
.iota-git
